<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggleDrawer();">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="Seattle Grace Hospital Logo">
  </a>

  <span class="example-spacer"></span>

  <a href="https://www.facebook.com/MIMForNight" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-facebook"></em>
    </button>
  </a>

  <a href="https://www.instagram.com/mimfornight/" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-instagram"></em>
    </button>
  </a>
</mat-toolbar>

