<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer un article</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.get('name')!.invalid && (form.get('name')!.dirty || form.get('name')!.touched)">
        <mat-form-field class="name" >
          <mat-label>Nom</mat-label>
          <input formControlName="name" name="name" matInput placeholder="Ex: Fanta" required/>
          <mat-error *ngIf="form.get('name')!.dirty && form.get('name')!.errors?.['required']"><br />Le nom est obligatoire</mat-error>
          <mat-error *ngIf="form.get('name')!.dirty && form.get('name')!.errors?.['minlength']"><br />Le nom doit avoir au moins 2 caractères </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="name" >
          <mat-label>Description</mat-label>
          <input formControlName="description"  matInput placeholder="Ex: 33 cl" name="description"/>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="name" >
          <mat-label>Prix (€)</mat-label>
          <input formControlName="price"  matInput placeholder="Ex: 1" name="price" required/>
          <mat-error *ngIf="form.get('price')!.dirty && form.get('price')!.errors?.['required']"><br />Le prix est obligatoire</mat-error>
          <mat-error *ngIf="form.get('price')!.dirty && form.get('price')!.errors?.['min']"><br />Le prix doit être positif</mat-error>
          <mat-error *ngIf="form.get('price')!.dirty && form.get('price')!.errors?.['pattern']"><br />Le prix être un nombre, avec 2 decimales maximum</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="chip-list" >
          <mat-label><mat-icon>work</mat-icon> Types :</mat-label>
          <mat-chip-list #chipList aria-label="Intitulés des types de l'article">
            <mat-chip *ngFor="let type of articleModel.types" (removed)="removeChipset(type)" >
              {{type}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Boisson..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-list>
        </mat-form-field>
      </p>

      <input #fileInput type="file" (change)="onFileSelected($event)"  name="image" style="display: none;" accept=".png,.jpg" />
      <div *ngIf="articleModel.image" >
        <img width="100" src="{{articleModel.image}}" alt="image de l'article" /> <br>
        <button mat-flat-button color="warn" (click)="articleModel.image = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!articleModel.image">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)" [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
