<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="article?.image" mat-card-avatar [src]="article?.image" alt="Avatar de l'article"/>
    <mat-card-title> {{article?.name | uppercase}} {{article?.description}} </mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let type of article?.types">
            <mat-icon class="small">
              work_outline
            </mat-icon>
            {{type}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', article?._id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
