<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [article]="article" (articleDelete)="delete($event)" (articleUpdate)="update($event)" *ngFor="let article of articles" ></carte>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let article of articles" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ article.image }}" alt="Avatar de l'article"/>
        <h3 mat-line> <strong>{{ article.name }}</strong> {{ article.price }}€ </h3>
      </mat-list-item>
    </mat-list>
  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
